<p style="color: green"><%= notice %></p>

<h1>User ts</h1>

<div id="user_ts">
  <% @user_ts.each do |user_t| %>
    <%= render user_t %>
    <p>
      <%= link_to "Show this user t", user_t %>
    </p>
  <% end %>
</div>

<%= link_to "New user t", new_user_t_path %>
