<h1 class="card-header">Nuevo Usuario</h1>

<div class="col-md-10" style="text-center">
<button type="button" class="btn btn-outline-warning"><%= link_to "Volver a usuario", user_es_path %></button>
</div>

<br>

<%= render "form", user_e: @user_e %>

