form{
    width: 500px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}

#contenedor{
    width: 900px;
    padding: 0px;
    border-radius: 20px;
    margin: auto;
    background-color: #ccc
}

h1{
    text-align:center;
}
